body {
    font-family: Arial, sans-serif;
    background-color: #607D8B; /* Cor azul-cinzento */
    margin: 0;
    padding: 0;
}

.logout-container {
    text-align: center;
    margin-top: 20px; /* Espaçamento acima do botão de logout */
}


.login-container, .profile-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2, .profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container label, .profile-container p {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.login-container input[type="text"], .login-container input[type="password"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-container button, .profile-container .btn {
    display: block;
    width: 90%;
    padding: 15px 20px; /* Aumenta o padding, dando mais largura e altura */
    margin-bottom: 15px; /* Aumenta o espaçamento entre os botões */
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-size: 16px; /* Aumenta o tamanho da fonte */
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.login-container button:hover, .profile-container .btn:hover {
    background-color: #0056b3;
}

.profile-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

/* Estilo do botão de logout */
.logout-container .btn {
    display: block;
    width: 90%; /* Largura do botão */
    padding: 15px 20px; /* Espaçamento interno do botão */
    margin: 20px auto; /* Centraliza e adiciona espaçamento superior */
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    font-size: 16px; /* Tamanho da fonte */
    border: none; /* Remove as bordas */
    border-radius: 4px; /* Bordas arredondadas */
    text-decoration: none; /* Remove sublinhado */
    cursor: pointer; /* Cursor de clique */
}

.logout-container .btn:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}
